body {
	background: #e8e1d1;
	color: #7c6b4f;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0;
	min-width: 960px;
	padding: 0;
}

a {
	outline: 0;
}

img {
	border: none;
}

p a {
	color: #800080;
}

p a:hover,
#body ul li a.readmore:hover,
#footer ul li div a.viewall:hover,
div.body span a:hover {
	color: #3e3524;
}

#page {	
	background: url(../images/bg-body.jpg) repeat-x center top;
	overflow: hidden;
	width: 100%;
}

#header {
	margin: 0 auto;
	width: 960px;
}

#header div {
	margin: 65px 0 0;
	text-align: center;
}

#header div a {
	display: block;
	margin: 0 auto;
	width: 320px;
}

#header ul {
	list-style: none;
	margin: 25px 0 0;
	overflow: hidden;
	padding: 0;
	text-align: center;
}

#header ul li {
	display: inline-block;
	height: 34px;
	margin: 0 5px;
}

#header ul li a {
	background: url(../images/bg-menu-right.gif) no-repeat right top;
	color: #164773;
	display: block;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	text-decoration: none;
}

#header ul li a span {
	background: url(../images/bg-menu-left.gif) no-repeat left top;
	cursor: pointer;
	display: block;
	height: 34px;
	padding: 0 15px;
}

#header ul li.current a,
#header ul li a:hover {
	background: url(../images/bg-menu-selected-right.gif) no-repeat right top;
	color: #f2ffff;
}

#header ul li.current a span,
#header ul li a:hover span {
	background: url(../images/bg-menu-selected-left.gif) no-repeat left top;
}

#body,
div.body {
	background: #86bc9e;
	border: 1px solid #e0dacc;
	margin: 17px auto 25px;
	overflow: hidden;
	padding: 0 0 30px;
	width: 960px;
}

#body ul {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

#body ul li {
	background: url(../images/border-vertical.gif) repeat-y;
	float: left;
	height: 650px;
	padding: 0 25px 0 20px;
	position: relative;
	width: 315px;
}

#body ul li:first-child {
	background: none;
}

#body ul li h1 {
	font-family: Times New Roman, Times, serif;
	font-size: 28px;
	line-height: 28px;
	margin: 0;
	padding: 28px 0;
}

#body ul li h1 a {
	color: black;
	display: block;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 1px #f8ffff;
}

#body ul li h1 a:hover {
	color: #4b0082
}

#body ul li div {
	background: url(../images/frame.gif) no-repeat;
	height: 238px;
	margin: 0 0 15px;
	width: 286px;
}

#body ul li a img  {	
	display: block;	
	padding: 3px;
}

#body ul li span {
	color:brown ;
	display: block;
	font-size: 16px;
	font-family: Times New Roman, Times, serif;
	font-weight: bold;
	padding: 0 0 5px;
	text-transform: uppercase;
}

#body ul li p {
	line-height: 23px;
	margin: 0;
	padding: 0;
    color: black;
	text-align: justify;
}

#body ul li a.readmore {
	background: url(../images/bg-readmore.gif) no-repeat;
	color: #69614a;
	display: block;
	height: 24px;
	line-height: 24px;
	position: absolute;
	left: 90px;
	bottom: 0;
	text-decoration: none;
	text-align: center;
	width: 142px;
}

div.body {
	padding: 30px 20px;
	width: 920px;
}

div.body h2 {
	color: #0D4D79;
	display: block;
	font-family: Times New Roman,Times,serif;
    font-size: 28px;
    line-height: 28px;
    margin: 0;
    padding: 0 0 30px;
	text-shadow: 0 1px #F8FFFF;
    text-transform: uppercase;
}

div.body span,
div.body h3 {
	display: block;
	font-family: Times New Roman,Times,serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	margin: 0;
}

div.body span a,
div.body h3 a {
	color: #706758;
	text-decoration: none;
}

div.body span a:hover {
	text-decoration: underline;
}

div.body span b {
	font-weight: normal;
	text-transform: uppercase;
}

div.body div {
	margin: 0 0 31px;
	overflow: hidden;
}

div.body div#blog {
	margin: -30px 0 0;
}

div.body div#blog div.article {
	background: url(../images/border-vertical.gif) repeat-y right top;
	float: left;
	padding: 30px 30px 0 0;
	width: 650px;
}

div.body div#blog div.article p {
	float: none;
	margin: 0;
	width: auto;
}

div.body div#blog div.sidebar {
	float: right;
	padding: 55px 0 0;
	width: 215px;
} 

div.body div#blog div.sidebar h2 {
	color: #7C6B4F;
	font-size: 16px;
	padding: 30px 0 0;
	text-shadow: none;
}
 
div.body div#blog div.sidebar ul {
	background: none;
	list-style: disc outside;
	overflow: visible;
}

div.body div#blog div.sidebar ul li {
	float: none;
	line-height: 24px;
}

div.body div#blog div.sidebar ul li:first-child  {
	float: none;
}

div.body div#blog div.sidebar ul li a {
	color: #7C6B4F;
	text-decoration: none;
}

div.body div#blog div.sidebar ul li a:hover {
	text-decoration: underline;
}

div.body div img {
	float: left;
	margin: 33px 0 0;
}

div.body div p {
	float: right;
	line-height: 24px;
	margin: 26px 0 0;
	padding: 0;
	text-align: justify;
	width: 470px;
}

div.body p {
	line-height: 24px;
	margin: 0 0 29px;
	text-align: justify;
}

div.body table tr td{
	padding: 0 40px 5px 0;
}

div.body ul {
	background: url(../images/border-vertical.gif) repeat-y center top;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

div.body ul li {
	float: right;
	margin: 0 20px;
	width: 400px;
}

div.body ul li:first-child {
	float: left;
}

div.body ul li img {
	margin: 0 0 31px;
}

div.body ul li p {
	margin: 0;
}

div.body ul li span {
	line-height: 24px;
}

div.body ul li ul {
	background: none;
	list-style: disc outside;
	margin: 0;
	padding: 0 0 30px 15px;
}

div.body ul li ul li {
	float: none;
	margin: 0;
	padding: 0 0 0 5px;
	width: auto;
}

div.body ul li ul li:first-child {
	float: none;
}

#footer {
	background: url(../images/bg-footer.jpg) repeat-x center bottom;
}

#footer ul {
	list-style: none;
	margin: 0 auto 25px;
	overflow: hidden;
	padding: 0;
	width: 960px;
}

#footer ul li {
	float: left;
	margin: 0 0 0 18px;
	width: 226px;
}

#footer ul li:first-child {
	margin: 0;
}

#footer ul li h3 {
	color: #0D4D79;
	font-family: Times New Roman,Times,serif;
	font-size: 20px;
	margin: 0 0 5px;
	text-indent: 15px;
    text-align: center;
	text-shadow: 0 1px #F8FFFF;
    position: static;
}

#footer ul li div {
	background: url(../images/bg-footer-item.gif) no-repeat;
	height: 266px;
	margin: 0;
	padding: 10px 0 0;
	width: 226px;
    position: relative;
}

#footer ul li div#Subscribe To Our Newsletter img {
	margin: 2px 3px;
}

#footer ul li div#Bonus Tips To Loose Weight img {
	margin: 5px 13px;
}

#footer ul li div p,
#footer ul li div b,
#footer ul li div span {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 24px;
	margin: 0;
	padding: 0 13px;
}

#footer ul li div a {
	display: block;
}

#footer ul li div span {
	font-size: 12px;
}

#footer ul li div a.viewall {
	color: #a29c8e;
	display: block;
	font-size: 12px;
	padding: 0 13px 10px;
	position: absolute;
	bottom: 0;
	right: 0;
	text-decoration: none;
	text-align: right;
}

#footer ul li div b {
	display: block;
}

#footer div {
	margin: 70px auto 0;
	overflow: hidden;
	width: 960px;
}

#footer div p {
	font-family: Times New Roman, Times, serif;
	margin: 0;
}

#footer div p a {
	color: #988878;
	text-decoration: none;
}

#footer div p a:hover {
	color: #988878;
	text-decoration: underline;
}

#footer div p.connect {
	float: left;
	color: #988878;
}

#footer div p.footnote {
	float: right;
	color: #988878;
}
 /* CSS---------------for the drop down menu
------------------------------*/
#primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}
